{% extends 'base.html' %}
{% load static %}

{% block title %}Pig Game{% endblock title %}


{% block content %}
    <main>
      <div class="pig-game">
      <section class="player player--0 player--active">
        <h2 class="name" id="name--0">Player 1</h2>
        <p class="score" id="score--0">43</p>
        <div class="current">
          <p class="current-label">Current</p>
          <p class="current-score" id="current--0">0</p>
        </div>
      </section>
      <section class="player player--1">
        <h2 class="name" id="name--1">Player 2</h2>
        <p class="score" id="score--1">24</p>
        <div class="current">
          <p class="current-label">Current</p>
          <p class="current-score" id="current--1">0</p>
        </div>
      </section>
      <section class="player player--2">
        <h2 class="name" id="name--2">Player 3</h2>
        <p class="score" id="score--2">24</p>
        <div class="current">
          <p class="current-label">Current</p>
          <p class="current-score" id="current--2">0</p>
        </div>
      </section>
      <section class="player player--3">
        <h2 class="name" id="name--3">Player 4</h2>
        <p class="score" id="score--3">24</p>
        <div class="current">
          <p class="current-label">Current</p>
          <p class="current-score" id="current--3">0</p>
        </div>
      </section>

      <img src="dice-5.png" alt="Playing dice" class="dice" />
      <button class="btn btn--new">🔄 New game</button>
      <button class="btn btn--roll">🎲 Roll dice</button>
      <button class="btn btn--hold">📥 Hold</button>
    </div>
    </main>
  
{% endblock content %}
{% block extrascripts %}<script type="text/Javascript" src="{% static 'js/script.js' %}"></script>
{% endblock extrascripts %}