{% extends 'base.html' %}
{% load static %}
{% block title %}
    My Games
{% endblock title %}

{% block content %}

<main>

    <div class="my-games-list">
        <h1>My Games</h1>
        {% if list_games %}
                <table>
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Game Name</th>
                            <th>Console</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in list_games %}
                            <tr>
                                <td><img src="{{ game.picture }}" /></td>
                                <td>
                                    {{ game.name }}
                                </td>
                                <td>{{ game.console }}</td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no games listed</p>
            {% endif %}

    </div>
</main>

{% endblock content %}