{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "css/projects.css" %}">
        <script src="script.js"></script>
    </head>
    <body>
        <header>
            <nav>
                {% if user.is_authenticated %}
                    <ul>
                        <li>
                            <a href="{% url 'list_games' %}">My Games</a>
                        </li>
                        <li>
                            <a href="{% url 'index'%}">JavaScript Game</a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">My Projects</a>
                        </li>
                        <li>
                            <a href="{% url 'create_project' %}">Create Project</a>
                        </li>
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'list_companies'%}">Companies</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                    {% else %}
                    <ul>
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    </ul>
                {% endif %}
                
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        {% block extrascripts %}{% endblock %}
    </body>
</html>
