{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Notes{% endblock title %}

{% block content %}
<main>
    <div class="edit-task">
        <h1>Edit {{ post_object.title }}</h1>

        <form method="post">
            {% csrf_token %}
            {{ post_form.as_p }}
            
            <button>Save</button>
        </form>
        <h3>Not seeing the note you want to edit?</h3>
        <a href="{%url 'create_notes' %}">Create a note</a>
    </div>

</main>

{% endblock content %}