{% extends 'base.html' %}
{% load static %}
{% block title %}
    My Tasks
{% endblock title %}
{% block content %}
    <main>
        <div class="my-tasks-list">
            <nav>
                <a href="{% url 'create_task'%}">Create Task</a>
            </nav>
            <h1>My Tasks</h1>
            {% if user.is_authenticated %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in list_tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                                
                                <td>
                                    {% for note in task.notes.all %}
                                    <br/>
                                    
                                    {{ note.note }}
                                    <br/>
                                    ___
                                    {% endfor %}</td>
                                <td><a href="{% url 'update_task' task.id %}">Update</a></td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
