{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ show_project.name }} - Tasks
{% endblock title %}
{% block content %}
    <main>
        <div class="project-form">
            <h1>{{ show_project.name }}</h1>
            <p>{{ show_project.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}"></a>
            </p>
            {% comment %} {% if project_object %} {% endcomment %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in show_project %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.assignee }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% comment %} {% else %}
        <p>This project has no tasks</p>
            {% endif %}  {% endcomment %}
        </div>
    </main>
{% endblock content %}
