{% extends 'base.html' %}
{% load static %}
{% block title %}Companies{% endblock title %}
{% block content %}
<main>
    <div class="companies-list">
        <h1>Companies</h1>
        {% if user.is_authenticated %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Projects</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in list_companies %}
                    <tr>
                        <td>{{ company.company_name }}</td>
                        <td>{{ company.projects.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No Companies currently listed</p>
        {% endif %}
    </div>
</main>
{% endblock content %}