{% extends 'base.html' %}
{% load static %}

{% block title %}Create Notes{% endblock title %}

{% block content %}
<main>
    <div class="notes-form">
        <h1>Create a new note</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>

</main>

{% endblock content %}